
body {
  margin: 0;
  padding: 0;
  display: flex;
}

main {
  margin: 20px auto;
  width: 1024px;
  /* background-color: coral; */
}

aside {
  /* background-color: aqua; */
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.output div {
  margin: 5px 0;
}

.section h2 {
  text-align: center;
}

#previewBtn {
  display: none;
}

#result {
  width: 150px;
}

#filtered {
  display: none;
  flex-direction: column;
  justify-content: space-around;

}

.header-card {
  display: flex;
}

.card {
  margin: 10px 0;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 100%;
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.5);
}

.card-image {
  padding: 3px;
  /* width: 250px;
  height: 250px; */
  border: solid 1px rgba(54,39,37,0.06);
}

.card-image img {
  /* width: 100%;
  height: 100%; */
}

.content-card {
  display: flex;
}

.movie-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.favorite {
  display: none;
  
}

.btn {
  outline: none;
  border: none;
  padding: 10px;
  margin: 0 5px;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  transition: all .3s ease-out;
}

.btn:hover {
  background-color: rgb(156, 155, 155);
  color: white;
}