
body {
  margin: 0;
  padding: 0;
}

main {
  margin: 20px;
  width: 80%;
  border: 1px solid black;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

#previewBtn {
  display: none;
}

#filtered {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.card {
  display: flex;
  
}